<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>shuoshuo</title>
    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/home.css">
</head>

<body>
    <% include header.ejs %>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <img class="avatar" src="./images/avatar/<%= avatar %>" alt="" />
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default panel-style">
                        <div class="panel-body">
                            <h4>taoyage</h4>
                            <p>神奈川工科大学/I科/3年/留学生</p>
                            <p>爱好 :  バスケット，hip-hop，軽音楽が好き</p>
                            <p>个人主页 : www.fdaf.com</p>
                            <p>生日:1.31</p>
                            <p>个性签名 : 我是贝尔</p>
                            <a href="/personal">编辑个人资料 >> </a>
                        </div>
                    </div>
                    <div class="panel panel-default panel-style">
                        <div class="panel-body">
                            <ul id="userWarp"></ul>
                        </div>
                    </div>
                    <div class="panel panel-default panel-style">
                        <div class="panel-body">
                            Basic panel example
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="list-group" id="content"></ul>
                </div>
            </div>
        </div>
        <!-- /container -->
        <!-- Bootstrap core JavaScript
      ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="./vendor/jquery.min.js"></script>
        <script src="./vendor/bootstrap.min.js"></script>
        <script src='./js/home.js'></script>
        <script src='./js/common.js'></script>
</body>

</html>
